@model IEnumerable<ComputerReparationStore.Models.ReparationOrderVM>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    Amount done:  @Html.DisplayNameFor(model => model.AmountClosed);
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReparationOrder.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReparationOrder.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReparationOrder.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReparationOrder.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ReparationOrder.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReparationOrder.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReparationOrder.EndDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReparationOrder.Status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ReparationOrder.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.ReparationOrder.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ReparationOrder.Id })
    </td>
</tr>
}

</table>
